<div class="patients-container" layout="column" cg-busy="patients.loading">
    <div class="page-header" layout="row" layout-align="space-between center">
        <div>
            <i class="material-icons patients">people</i>
            <span translate="private.patients.title"></span>
        </div>
        <i class="material-icons add-button ma-button" ng-click="patients.addPatient()">
            add
        </i>
    </div>
    <div class="page-content" flex="grow" layout="column">
        <div layout="row" class="content-wrap">
            <div layout="column">
                <div class="user-column">
                    <div ng-repeat="patient in patients.patients"
                         class="user  ma-button" layout="row"
                         layout-align="start center"
                         ng-class="{'active': patients.selectedPatient.id === patient.id}"
                         ng-click="patients.go(patient)">
                        <ma-name ma-patient="patient"></ma-name>
                        <span class="full-name">{{patients.getDisplayPatient(patient)}}</span>
                    </div>
                </div>
            </div>
            <div flex="grow" class="user-info" layout="column">
                <div class="patient-info" layout="column">
                    <div layout="row">
                        <span flex="30" class="details" translate="private.patients.fio"></span>
                        <span flex="grow">{{patients.getDisplayPatient(patients.selectedPatient)}}</span>
                        <i class="material-icons ma-button"
                           ng-click="patients.goToChat()">
                            chat
                        </i>
                    </div>
                    <div layout="row">
                        <span flex="30" class="details" translate="private.patients.phone"></span>
                        <span flex="grow">{{patients.selectedPatient.details.phone}}</span>
                    </div>
                </div>
                <div class="disease-block">
                    <div class="header" layout="row" layout-align="space-between center">
                        <span translate="private.patients.disease"></span>
                        <i class="material-icons add-button ma-button" ng-click="patients.addHistoryElement()">
                            add
                        </i>
                    </div>
                    <div class="headers" layout="row">
                        <div flex="40" translate="private.patients.diag"></div>
                        <div flex="30" translate="private.patients.dates"></div>
                        <div flex="grow" class="actions" translate="private.patients.actions"></div>
                    </div>
                    <div class="content" ng-show="patients.history.length">
                        <div class="disease-item"
                             ng-repeat="element in patients.history | orderBy:id:true track by element.id"
                             layout="row">
                            <div flex="40">{{element.diag}}</div>
                            <div flex="40" class="dates">{{patients.getDate(element)}}</div>
                            <div flex="grow" class="actions">
                                <i ng-show="element.active" class="material-icons ma-button"
                                   ng-click="patients.openEditDialog(element)">
                                    edit
                                </i>
                                <i ng-show="element.active" class="material-icons ma-button"
                                   ng-click="patients.openSendDialog(element)">
                                    mobile_screen_share
                                </i>
                                <i ng-show="element.active" class="material-icons ma-button"
                                   ng-click="patients.openCloseDialog(element)">
                                    info
                                </i>
                                <i ng-show="element.active" class="material-icons ma-button"
                                   ng-click="patients.finishHistoryElement(element)">
                                    done
                                </i>
                                <i ng-hide="element.active" class="material-icons ma-button"
                                   ng-click="patients.openViewDialog(element)">
                                    find_in_page
                                </i>
                            </div>
                        </div>
                    </div>
                    <div ng-hide="patients.history.length" class="empty-message" layout="row"
                         layout-align="center center">
                        <span translate="private.patients.empty"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>