<md-toast>
    <div class="toast-content" layout="column">
        <span class="md-toast-text" flex translate="{{'private.toast.' + page}}"></span>
        <div layout="row" layout-align="space-between">
            <md-button class="md-highlight" ng-click="goToPage()">
               <span translate="private.toast.goTo"></span>
            </md-button>
            <md-button ng-click="closeToast()">
                <span translate="private.toast.close"></span>
            </md-button>
        </div>
    </div>

</md-toast>