@import "./../../../../assets/colors";

.menu-container {
  height: 64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;

  .menu-toggle {
    font-size: 35px;
    color: $blue-text-color;
  }

  &:hover {
    @extend .active-menu;
  }
}

.active-menu {
  background-color: $header-background-2;
  .menu-toggle {
    color: $white
  }
}

.md-sidenav-right.right-menu {
  top: 64px;
  background-color: $header-background-2;

  .items-container {
    padding-top: 24px;
    .item {
      height: 50px;
      padding-left: 24px;
      color: $blue-text-color;
      font-size: 18px;
      cursor: pointer;
      text-align: left;
      outline: none;
    }
    .item:hover {
      color: $white;
    }
    .material-icons {
      font-size: 30px;
      margin-top: -4px;
      padding-right: 8px;
    }
    .logout {
      .material-icons {
        transform: scale(-1, 1);
        padding-right: 0;
        padding-left: 8px;
      }
    }
    &:nth-child(3) {}
    .material-icons {
      margin-top: 0;
    }
  }
}

md-backdrop.md-sidenav-backdrop {
  top: 64px;
}