
$border-color: #E0E0E0;
$main-background: #EEEEEE;
$header-background: #00BCD4;
$header-background-2: #00ACC1;

$calendar-info-block: #29B6F6;
$border-title-color: #E0F2F1;
$calendar-text-color: #757575;

$white: #FFFFFF;
$blue-text-color: #E1F5FE;
$amber: #FFD54F;
$lime: #AEEA00;
$orange: #FFCC80;

$disabled-color: #FAFAFA;
$disabled-color-2: #B0BEC5
