
$border-color: #E0E0E0;
$main-background: #EEEEEE;
$header-background: #00BCD4;
$header-background-2: #00ACC1;

$calendar-info-block: #29B6F6;
$border-title-color: #E0F2F1;
$calendar-text-color: #757575;
$dark-color: #212121;
$gray-color: #424242;
$gray-color-2: #757575;
$gray-color-3: #616161;

$white: #FFFFFF;
$blue-text-color: #E1F5FE;
$amber: #FFD54F;
$lime: #AEEA00;
$green-color: #9ccc65;
$green-color-3: #a5d6a7;
$green-color-2: #66bb6a;
$teal: #26a69a;
$cyan: #26c6da;
$cyan-2: #80deea;

$light-blue: #29b6f6;
$light-blue-2: #4fc3f7;
$blue: #42a5f5;
$indigo: #5c6bc0;
$purple: #7e57c2;
$orange: #FFCC80;
$blue: #BBDEFB;
$blue-active: #64B5F6;

$disabled-color: #FAFAFA;
$disabled-color-2: #B0BEC5
