<md-dialog class="configuration-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 flex="grow" translate="private.calendar.configuration.title"></h2>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content flex="grow" layout="row">
        <form name="days" layout="row" flex="grow">
            <div layout="column" class="config-container">
                <h3 translate="private.calendar.configuration.select"></h3>
                <div class="separate"></div>
                <div class="types-container">
                    <div ng-repeat="type in configuratonTypes"
                         ng-click="selectType(type)"
                         ng-class="{'active': type === selectedType}"
                         class="config-type"
                         translate="{{'private.calendar.configuration.types.' + type.name}}"></div>
                </div>
            </div>
            <div layout="column" class="day-config-container">
                <div layout="row" layout-align="space-between" class="title-wrapper">
                    <h3 translate="{{'private.calendar.configuration.types.' + selectedType.name}}"></h3>
                    <div layout="row" class="type-time-select-wrapper">
                        <h4 translate="private.calendar.configuration.type_time_select"></h4>
                        <md-select ng-model="selectedTimeReception" class="type-time-select">
                            <md-option ng-repeat=" type in typesTimeReception track by $index" ng-value="type">
                                {{type}}
                            </md-option>
                        </md-select>
                    </div>
                </div>
                <div class="separate"></div>
                <div layout="row" layout-align="space-around" class="days-wrapper">
                    <div ng-repeat="day in workDays" class="day"
                         ng-class="{'day-off': day.dayOff}">
                        <md-input-container ng-hide="day.dayOff">
                            <label translate="private.calendar.configuration.start"></label>
                            <input ng-model="day.workTimeStart"
                                   ng-pattern="/^\d{1,2}:\d{2}$/"
                                   ng-required="!day.dayOff"
                                   placeholder="hh:mm">
                        </md-input-container>
                        <md-input-container ng-hide="day.dayOff">
                            <label translate="private.calendar.configuration.end"></label>
                            <input ng-model="day.workTimeEnd"
                                   ng-pattern="/^\d{1,2}:\d{2}$/"
                                   ng-required="!day.dayOff"
                                   placeholder="hh:mm">
                        </md-input-container>
                        <md-checkbox ng-show="selectedType.customizable" md-no-ink aria-label="Checkbox No Ink"
                                     ng-model="day.dayOff" class="md-primary">
                            <span class="config-day-off" translate="private.calendar.configuration.dayOff"></span>
                        </md-checkbox>
                        <span class="config-day-off" ng-show="day.dayOff && !selectedType.customizable"
                              translate="private.calendar.configuration.dayOff"></span>
                    </div>
                </div>
            </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="dialog-footer">
        <md-button class="md-raised md-primary md-button md-ink-ripple"
                   ng-click="save(days)">
            <span translate="private.dialog.apply"></span>
        </md-button>
    </md-dialog-actions>
</md-dialog>