@import "./../../../../../assets/colors";

.configuration-dialog {
  width: 80%;
  height: 75%;
  max-width: 1200px;
  min-width: 750px;

  .config-container {
    min-width: 300px;
    height: 100%;
    padding: 24px;
    border-right: 1px solid $border-color;

    .types-container {
      overflow-y: auto;
      overflow-x: hidden;
      margin: 0 -24px -24px;
      padding: 16px 0;
    }

    .config-type {
      line-height: 48px;
      height: 48px;
      margin: 12px 24px;
      padding: 0 8px;
      background-color: $blue;
      cursor: pointer;
      outline: none;
      &:hover, &.active {
        background-color: $blue-active;
      }
    }
  }

  .day-config-container {
    padding: 24px 24px 0;
    flex: 1;
    .separate {
      height: 9px;
    }
    .days-wrapper {
      flex-wrap: wrap;
      height: 100%;
      overflow: auto;
      margin: 0 -24px;
      padding: 20px 24px;
    }

    .day {
      width: 130px;
      height: 160px;
      background-color: $orange;
      margin: 8px;
      padding: 24px 8px 8px;
      flex-direction: column;

      md-input-container {
        margin: 0;
      }
    }
    .day-off {
      background-color: $disabled-color-2;
    }

    .config-day-off {
      text-align: center;
    }
  }

  .separate {
    height: 8px;
    margin: 0 -24px;
    border-bottom: 1px solid $border-color;
  }

  .type-time-select-wrapper {
    padding-top: 3px;
  }

  .type-time-select {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 2px;
    .md-select-value {
      min-height: 22px;
    }
  }

  .title-wrapper {
    height: 37px;
  }

  .dialog-footer {
    border-top: 1px solid $border-color;
    height: 80px;
  }
}