<div class="chats-container" layout="column" cg-busy="chat.loading">
    <div class="page-header" layout="row" layout-align="start center">
        <i class="material-icons">message</i>
        <span translate="private.chats.title"></span>
    </div>
    <div class="page-content" flex="grow" layout="column">
        <div layout="row" style="height: 100%">
            <div layout="column">
                <div class="user-column">
                    <div ng-repeat="patient in chat.getPatients()"
                         class="user  ma-button" layout="row"
                         layout-align="start center"
                         ng-class="{'active': chat.selectedPatient.id === patient.id,
                                    'not-seen': patient.hasMessage}"
                         ng-click="chat.selectPatient(patient)">
                        <ma-name ma-patient="patient"></ma-name>
                        <span class="full-name">{{chat.getDisplayPatient(patient)}}</span>
                    </div>
                </div>
            </div>
            <div flex="grow" class="chat" layout="column">
                <div ng-show="chat.messages.length" class="chat-wrapper">
                    <div id="chat" class="chat-area">
                        <div ng-repeat="message in chat.messages">
                            <div class="message" ng-class="{'patient-message': !message.doctor}">
                                <span>{{message.data}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="empty" ng-hide="chat.messages.length">
                    <span translate="private.chats.empty"></span>
                </div>
                <div class="input-area" layout="row">
                    <textarea id="textArea" placeholder="Введите сообщение"></textarea>
                    <i id="send" class="material-icons ma-button" ng-click="chat.send()">
                        send
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>