<div layout="row" class="talon-view">
    <div flex="20" layout-align="center center" class="talon-date"><span>{{date}}</span></div>
    <div flex="80" layout="row" class="talons-wrapper">
        <div class="talon-time" ng-repeat="talon in day.talons track by $index"
             ng-class="{'disabled-time': !!talon.patient}"
             ng-click="goToPatientOrAdd($index,talon)">
            <span>{{talon.time}}</span>
            <md-tooltip ng-if="!!talon.patient"
                        md-direction="top"
                        md-autohide="true"
                        md-delay="400">
                {{talon.patient.name}}
            </md-tooltip>
        </div>
    </div>
</div>