@import "../../../../../assets/colors";

.talon-view {
  display: flex;
  width: 100%;
  .talon-date {
    display: flex;
    border-right: 1px solid $border-title-color;
  }
  .talon-time {
    background-color: #AEEA00;
    height: 32px;
    min-width: 55px;
    line-height: 32px;
    padding: 0 4px;
    margin: 4px 8px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    outline: none;
  }

  .disabled-time {
    background-color: $disabled-color-2;
    color: $white;
  }
}

.talons-wrapper {
  flex-wrap: wrap;
}

.md-tooltip {
  font-size: 16px !important;
}